<div class="overlay">
  <div class="spinner"></div>
</div>

<section id="hero-section">

  <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><img class="brand-logo" src="../images/logo2.png"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="link-header home" href="">Home</a></li>
              <li><a class="link-header features" href="">Features</a></li>
              <li><a class="link-header contact" href="">Contact Us</a></li>
              <li><a href="/login" class="header-btn" role="button">Log In <span class="glyphicon glyphicon-chevron-right"></span></a></li>


            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
  </nav>

    <div class="hero-text-box">
      <h1 class="hero-h1">Don't remember a Birthday?</h1>
      <p class="lead">Don't worry anymore, BirthdayGenie is here to make your life easier</p>
      <a class="hero-login-btn"href="/signup">Sign Up</a>
    </div>

</section>

<section id="feature-section">
  <div class="container" style="text-align: center">
    <h2>Why should you use BirthdayGENIE?</h2>
    <%# <hr style="border: 2px solid #bfcbd5; width: 10%; margin-left: 45%; margin-bottom: 40px;">%>
    <hr style="border: 3px solid #e54e42; border-radius: 25px;width: 5%; display: inline-block">
    <hr style="border: 3px solid #f0c231; border-radius: 25px;width: 5%; display: inline-block">
    <hr style="border: 3px solid #1b95e0; border-radius: 25px;width: 5%; display: inline-block">
    <hr style="border: 3px solid #39ca74; border-radius: 25px;width: 5%; display: inline-block">
    <div class="row">
      <div class="col-sm-3">
        <i style="color: #e74c3c " class="ion-android-notifications"></i>
        <h4>Smart Notification</h4>
        <p class="lead">You would always get notifications where ever you go, BirthdayGENIE will notify you three days in advance of any birthday so you can plan ahead.</p>
      </div>
      <div class="col-sm-3">
        <i style="color: #2ecc71" class="ion-android-textsms"></i>
        <h4>Easy and Quick Response</h4>
        <p class="lead">Upon receiving any notification, BirthdayGENIE will let you choose beteen sending a text mesage, greeting card or check for presents on Amazon.</p>
      </div>
      <div class="col-sm-3">
        <i style="color: #f1c40f" class="ion-iphone"></i>
        <h4>Mobile Ready</h4>
        <p class="lead">We work very hard on this app to make it responsive, so  you can enjoy it and used it on your phone, tablet or home computer</p>
      </div>
      <div class="col-sm-3">
        <i style="color: #3498db" class="ion-briefcase"></i>
        <h4>Bussines Friendly</h4>
        <p class="lead">BirthdayGENIE is not only for personal use, it can be used for bussiness in employee list and customer follow ups </p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
			<div class="section-content">
				<h1 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h1>
				<h3>Let us know about your experience and what we can do to improve it</h3>
        <p class="contact-error"><i class="ion-alert-circled" style="margin-right: 10px"></i>Pealse fill out the form  </p>
        <h2 class="success-contact-form"><i class="ion-checkmark-circled" style="margin-right: 10px"></i>Your feedback has been sent successfully! </h2>
			</div>
			<div class="contact-section">
			<div class="container">
				<form class="contact-form">
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="name-input">Your name</label>
					    	<input type="text" class="form-control" id="name-input" placeholder=" Enter Name">
				  		</div>
				  		<div class="form-group">
					    	<label for="email-input">Email Address</label>
					    	<input type="email" class="form-control" id="email-input" placeholder=" Enter Email id">
					  	</div>

			  		</div>
			  		<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="description"> Message</label>
			  			 	<textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
			  			</div>
			  			<div>

			  				<button type="button" class="btn btn-default submit" href="/login"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message </button>
			  			</div>

					</div>
				</form>
			</div>
		</section>
